In [1]:
import pandas as pd
import numpy as np

In [2]:
punt1 = pd.read_csv('..\\datasets\\puntajes\\1.csv')

In [4]:
punt1.head(10)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500
5       1     4.0  1425942148  as3004
6       1     4.5  1425941300  ns8282
7       1     5.0  1425941593  as6112
8       1     4.0  1425941601   hs327
9       1     4.0  1425942228  ns1358

In [10]:
punt1.columns

Index(['userId', 'rating', 'timestamp', 'movieId'], dtype='object')

In [12]:
def asignar_plataforma(codigo):
    if codigo[0].lower() == 'a':
        return 'amazon'
    elif codigo[0].lower() == 'n':
        return 'netflix'
    elif codigo[0].lower() == 'h':
        return 'hulu'
    elif codigo[0].lower() == 'd':
        return 'disney'
    # Agrega más condiciones según sea necesario
    else:
        return 'otra'

# Aplicar la función a la columna "codigo" para crear una nueva columna "plataforma"
punt1['plataforma'] = punt1['movieId'].apply(asignar_plataforma)

print(punt1.head(10))

   userId  rating   timestamp movieId plataforma
0       1     1.0  1425941529   as680     amazon
1       1     4.5  1425942435  ns2186    netflix
2       1     5.0  1425941523  hs2381       hulu
3       1     5.0  1425941546  ns3663    netflix
4       1     5.0  1425941556  as9500     amazon
5       1     4.0  1425942148  as3004     amazon
6       1     4.5  1425941300  ns8282    netflix
7       1     5.0  1425941593  as6112     amazon
8       1     4.0  1425941601   hs327       hulu
9       1     4.0  1425942228  ns1358    netflix