In [1]:
import pandas as pd
import numpy as np

In [2]:
punt1 = pd.read_csv('..\\datasets\\puntajes\\1.csv')
punt2 = pd.read_csv('..\\datasets\\puntajes\\2.csv')
punt3 = pd.read_csv('..\\datasets\\puntajes\\3.csv')
punt4 = pd.read_csv('..\\datasets\\puntajes\\4.csv')
punt5 = pd.read_csv('..\\datasets\\puntajes\\5.csv')
punt6 = pd.read_csv('..\\datasets\\puntajes\\6.csv')
punt7 = pd.read_csv('..\\datasets\\puntajes\\7.csv')
punt8 = pd.read_csv('..\\datasets\\puntajes\\8.csv')

In [3]:
punt = pd.concat([punt1, punt2, punt3, punt4, punt5, punt6, punt7, punt8], axis=0, ignore_index=True)

In [4]:
punt.shape

(11024289, 4)

In [5]:
punt.head(10)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500
5       1     4.0  1425942148  as3004
6       1     4.5  1425941300  ns8282
7       1     5.0  1425941593  as6112
8       1     4.0  1425941601   hs327
9       1     4.0  1425942228  ns1358

In [6]:
# Se borra la columna timestamp porque no la vamos a usar
punt = punt.drop(columns = ['timestamp'])

In [8]:
#Se verifican las columnas existentes
punt.columns

Index(['userId', 'rating', 'movieId'], dtype='object')

In [9]:
contar_usuarios = punt['userId'].nunique()
contar_pelis = punt['movieId'].nunique()
print(f'El dataset contiene datos de puntajes asignados por {contar_usuarios} usuarios a {contar_pelis} series y películas')

El dataset contiene datos de puntajes asignados por 115077 usuarios a 22998 series y películas

Nos quedamos sólo con los datos de películas.

In [15]:
punt_p = pd.merge(punt, pelis2[['show_id']], left_on='movieId', right_on='show_id', how='inner')
punt_p.shape

NameError: name 'pelis2' is not defined

In [16]:
contar_usuarios2 = punt_p['userId'].nunique()
contar_pelis2 = punt_p['movieId'].nunique()
print(f'El dataset contiene datos de puntajes asignados por {contar_usuarios2} usuarios a {contar_pelis2} películas')

NameError: name 'punt_p' is not defined

In [17]:
punt_media = punt_p.groupby('movieId')['rating'].mean()

punt_media.head(5)

NameError: name 'punt_p' is not defined

In [18]:
print(f'El puntaje mínimo es {min(punt_media):.2f} y el máximo es {max(punt_media):.2f}')

NameError: name 'punt_media' is not defined

In [ ]:
punt_mediana = punt_p.groupby('movieId')['rating'].median()

punt_mediana.head(5)

In [ ]:
print(f'El puntaje mínimo es {min(punt_mediana):.2f} y el máximo es {max(punt_mediana):.2f}')

## Experimentando con algoritmos: k means

In [ ]:
def asignar_plataforma(codigo):
    if codigo[0].lower() == 'a':
        return 'amazon'
    elif codigo[0].lower() == 'n':
        return 'netflix'
    elif codigo[0].lower() == 'h':
        return 'hulu'
    elif codigo[0].lower() == 'd':
        return 'disney'
    # Agrega más condiciones según sea necesario
    else:
        return 'otra'

# Aplicar la función a la columna "codigo" para crear una nueva columna "plataforma"
punt['plataforma'] = punt['movieId'].apply(asignar_plataforma)

print(punt.head(10))

In [ ]:
# punt['show_id'] = punt['movieId'].str[1:]

In [ ]:
#importamos el dataset de peliculas
pelis = pd.read_csv('..\\datasets\\peliculas2.csv')

In [ ]:
pelis.columns

In [ ]:
# Función para agregar una letra al principio según la plataforma
def agregar_letra(show_id, plataforma):
    letra = ''
    if plataforma == 'amazon':
        letra = 'a'
    elif plataforma == 'netflix':
        letra = 'n'
    elif plataforma == 'hulu':
        letra = 'h'
    elif plataforma == 'disney':
        letra = 'd'
    # Agregar más condiciones según sea necesario
    return letra + show_id

# Aplicar la función a las columnas 'show_id' y 'plataforma' para crear una nueva columna 'show_id_actualizado'
pelis['show_id'] = pelis.apply(lambda x: agregar_letra(x['id'], x['plataforma']), axis=1)

In [ ]:
pelis.head(5)

In [ ]:
punt.dtypes

In [ ]:
pelis.dtypes

In [ ]:
# Realizar un left join en los códigos 
peli_punt = pd.merge(pelis, punt, how='left', left_on=pelis['show_id'], right_on=punt['movieId'], suffixes=('_pelis', '_punt'))

In [ ]:
peli_punt.tail(5)

In [ ]:
peli_punt.shape

In [ ]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
first_kmeans = KMeans(n_clusters=4, random_state=0)

In [ ]:
first_kmeans.fit(X1);

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [ ]:
# Supongamos que tienes una columna 'puntuacion' que representa la puntuación de la película
features = resultado['rating']
features_2d = features.values.reshape(-1, 1)

# Escalado de características (normalización)
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features_2d)

In [ ]:
# Especifica el número de clústeres que deseas encontrar (puedes ajustar este valor)
num_clusters = 3

# Crea el modelo k-means
kmeans = KMeans(n_clusters=num_clusters, random_state=42)

# Aplica el modelo a los datos escalados
resultado['cluster'] = kmeans.fit_predict(scaled_features)

In [ ]:
# Visualización de los resultados
cluster_centers = scaler.inverse_transform(kmeans.cluster_centers_)  # Volvemos a la escala original
resultado['centroide_mas_cercano'] = resultado['cluster'].apply(lambda x: cluster_centers[x])

# Puedes imprimir los resultados o hacer análisis más detallados
print(resultado[['titulo', 'rating', 'cluster', 'centroide_mas_cercano']])

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(resultado['rating'], c=resultado['cluster'], cmap='viridis')
plt.title('Gráfico de dispersión 2D con asignaciones de clústeres')
plt.xlabel('rating')
plt.show()

In [ ]:
inertias = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, random_state=42)
    kmeans.fit(scaled_features)
    inertias.append(kmeans.inertia_)

plt.plot(range(1, 11), inertias, marker='o')
plt.title('Diagrama de Codo')
plt.xlabel('Número de Clústeres')
plt.ylabel('Inercia')
plt.show()