In [31]:
# importamos panda y numpy
import pandas as pd
import numpy as np

In [32]:
%pwd

'd:\\Luna\\Documents\\Repositorios\\IngeniasDataScience\\notebooks'

In [33]:
cast = pd.read_csv('../datasets/premiados/df_castData.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4, saw 6

In [ ]:
# importamos panda y numpy
import pandas as pd
import numpy as np

In [ ]:
dat1 = pd.read_csv('../datasets/premiados/the_oscar_award.csv')

In [ ]:
dat1.head(5)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [ ]:
dat1.shape

(10765, 7)

In [ ]:
dat2 = dat1[dat1['category'] == 'ACTOR']
dat2.shape

(232, 7)

In [ ]:
dat3 = dat2[dat2['winner'] == True]
dat3.shape

(49, 7)

In [ ]:
dat3.head(4)

,year_film,year_ceremony,ceremony,category,name,film,winner
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
36,1928,1929,2,ACTOR,Warner Baxter,In Old Arizona,True
73,1929,1930,3,ACTOR,George Arliss,Disraeli,True
115,1930,1931,4,ACTOR,Lionel Barrymore,A Free Soul,True

In [ ]:

# Sample data (replace this with your actual DataFrames)
movies_data = {'Movie': ['Movie1', 'Movie2', 'Movie3'],
               'Cast': ['Actor1, Actor2, Actor3', 'Actor4, Actor5', 'Actor6']}
award_winners_data = {'Actor': ['Actor2', 'Actor4']}

movies = pd.DataFrame(movies_data)
award_winners = pd.DataFrame(award_winners_data)

# Create a set of award-winning actors for efficient membership checking
ganador_oscar = set(dat3['name'])

# Create a new column 'IsAwardWinner' in the 'movies' DataFrame
pelis['elenco_oscar'] = movies['elenco'].apply(lambda x: any(names in ganador_oscar for names in x.split(', ')))

# Convert the boolean values to 1 and 0
pelis['elenco_oscar'] = pelis['elenco_oscar'].astype(int)

In [34]:
pelis=pd.read_csv(r'..\\datasets\\peliculas2.csv')
pelis.head(5)

,show_id,tipo,titulo,director,elenco,anio,clasificacion,duracion,listado_en,plataforma
0,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,"Drama, International",amazon
1,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",2016,13+,87 min,"Horror, Science Fiction",amazon
2,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",2018,R,104 min,Science Fiction,amazon
3,s23,Movie,Zis Boom Bah,William Nigh,"Grace Hayes, Mary Healy",1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",amazon
4,s25,Movie,Zandalee,Sam Pillsbury,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",1991,R,94 min,Drama,amazon

In [36]:
# Create a set of award-winning actors for efficient membership checking
ganador_oscar = set(dat3['name'])

# Create a new column 'IsAwardWinner' in the 'movies' DataFrame
pelis['elenco_oscar'] = pelis['elenco'].apply(lambda x: any(names in ganador_oscar for names in x.split(', ')))

# Convert the boolean values to 1 and 0
pelis['elenco_oscar'] = pelis['elenco_oscar'].astype(int)

In [43]:
pelis.head(5).sort_values(by='elenco_oscar', ascending = False)

,show_id,tipo,titulo,director,elenco,anio,clasificacion,duracion,listado_en,plataforma,elenco_oscar
0,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,"Drama, International",amazon,0
1,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",2016,13+,87 min,"Horror, Science Fiction",amazon,0
2,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",2018,R,104 min,Science Fiction,amazon,0
3,s23,Movie,Zis Boom Bah,William Nigh,"Grace Hayes, Mary Healy",1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",amazon,0
4,s25,Movie,Zandalee,Sam Pillsbury,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",1991,R,94 min,Drama,amazon,0

In [45]:
dir1 = dat1[dat1['category'] == 'DIRECTING']
dir1.shape

(464, 7)

In [46]:
dir2 = dir1[dir1['winner'] == True]
dir2.shape

(94, 7)

In [50]:

# Create a set of award-winning actors for efficient membership checking
director_oscar_lista = set(dir1['name'])

# Create a new column 'elenco_oscar' in the 'pelis' DataFrame
pelis['dir_oscar'] = pelis['director'].apply(lambda x: x in director_oscar_lista)

# Convert the boolean values to 1 and 0
pelis['dir_oscar'] = pelis['dir_oscar'].astype(int)

In [51]:
pelis.head(5).sort_values(by='dir_oscar', ascending = True)

,show_id,tipo,titulo,director,elenco,anio,clasificacion,duracion,listado_en,plataforma,elenco_oscar,dir_oscar
0,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,"Drama, International",amazon,0,0
1,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",2016,13+,87 min,"Horror, Science Fiction",amazon,0,0
2,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",2018,R,104 min,Science Fiction,amazon,0,0
3,s23,Movie,Zis Boom Bah,William Nigh,"Grace Hayes, Mary Healy",1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",amazon,0,0
4,s25,Movie,Zandalee,Sam Pillsbury,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",1991,R,94 min,Drama,amazon,0,0

In [53]:
gg1 = pd.read_csv('../datasets/premiados/golden_globe_awards.csv') 
gg1.head(5)

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [55]:
gg1.shape

(7991, 7)

In [54]:
gg_dir1 = gg1[gg1['category'] == 'Best Director - Motion Picture']
gg_dir1.shape

(357, 7)

In [56]:
# Create a set of award-winning actors for efficient membership checking
director_gg_lista = set(gg_dir1['nominee'])

# Create a new column 'elenco_oscar' in the 'pelis' DataFrame
pelis['dir_gg'] = pelis['director'].apply(lambda x: x in director_gg_lista)

# Convert the boolean values to 1 and 0
pelis['dir_gg'] = pelis['dir_gg'].astype(int)

In [59]:
pelis.head(5).sort_values(by='dir_gg', ascending = False)

,show_id,tipo,titulo,director,elenco,anio,clasificacion,duracion,listado_en,plataforma,elenco_oscar,dir_oscar,dir_gg
0,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,"Drama, International",amazon,0,0,0
1,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",2016,13+,87 min,"Horror, Science Fiction",amazon,0,0,0
2,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",2018,R,104 min,Science Fiction,amazon,0,0,0
3,s23,Movie,Zis Boom Bah,William Nigh,"Grace Hayes, Mary Healy",1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",amazon,0,0,0
4,s25,Movie,Zandalee,Sam Pillsbury,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",1991,R,94 min,Drama,amazon,0,0,0

In [60]:
pelis['dire_gg'].mean

KeyError: 'dire_gg'

In [61]:
print(pelis[pelis['dir_gg'] == 1])

      show_id   tipo                                        titulo  \
66       s153  Movie                          War Comes to America
124      s259  Movie                                   True Colors
149      s322  Movie                              To Catch a Thief
160      s347  Movie                          Thunder Alley (1967)
173      s370  Movie                                   These Three
...       ...    ...                                           ...
12846   s1213  Movie  Star Wars: Attack of the Clones (Episode II)
12848   s1216  Movie  Star Wars: Revenge of the Sith (Episode III)
12851   s1219  Movie     Star Wars: The Phantom Menace (Episode I)
12953   s1340  Movie                            The Sound of Music
13008   s1406  Movie                       Who Framed Roger Rabbit

               director                                             elenco  \
66          Frank Capra                     Dean Acheson, General Bergeret
124        Herbert Ross  Richard Widmark, Dina Merrill, Philip Bosco, P...
149    Alfred Hitchcock  Cary Grant, Grace Kelly, Jessie Royce Landis, ...
160        Richard Rush                          Fabian, Annette Funicello
173       William Wyler          Miriam Hopkins, Merle Oberon, Joel McCrea
...                 ...                                                ...
12846      George Lucas  Ewan McGregor, Natalie Portman, Hayden Christe...
12848      George Lucas  Ewan McGregor, Natalie Portman, Hayden Christe...
12851      George Lucas  Liam Neeson, Ewan McGregor, Natalie Portman, J...
12953       Robert Wise  Julie Andrews, Christopher Plummer, Richard Ha...
13008   Robert Zemeckis  Bob Hoskins, Christopher Lloyd, Stubby Kaye, J...

       anio clasificacion duracion                           listado_en  \
66     1945            NR   65 min        Documentary, Special Interest
124    1991             R  110 min                                Drama
149    1955            PG  106 min                      Drama, Suspense
160    1967            7+   89 min                               Action
173    1936           13+   93 min                       Drama, Romance
...     ...           ...      ...                                  ...
12846  2002            PG  143 min    Action-Adventure, Science Fiction
12848  2005         PG-13  140 min    Action-Adventure, Science Fiction
12851  1999            PG  136 min    Action-Adventure, Science Fiction
12953  1965             G  175 min     Biographical, Family, Historical
13008  1988            PG  104 min  Action-Adventure, Animation, Comedy

      plataforma  elenco_oscar  dir_oscar  dir_gg
66        amazon             0          1       1
124       amazon             0          1       1
149       amazon             0          1       1
160       amazon             0          1       1
173       amazon             0          1       1
...          ...           ...        ...     ...
12846     disney             0          1       1
12848     disney             0          1       1
12851     disney             0          1       1
12953     disney             0          1       1
13008     disney             0          1       1

[393 rows x 13 columns]

In [62]:
print("Número de coincidencias:", pelis['dir_gg'].sum())

Número de coincidencias: 393

In [63]:
# Filtrar el DataFrame para obtener solo las filas donde dir_gg es igual a 1
directores_ganadores = pelis.loc[pelis['dir_gg'] == 1, 'director']

# Imprimir los valores de la columna 'director' para esas filas
print(directores_ganadores)

66            Frank Capra
124          Herbert Ross
149      Alfred Hitchcock
160          Richard Rush
173         William Wyler
               ...
12846        George Lucas
12848        George Lucas
12851        George Lucas
12953         Robert Wise
13008     Robert Zemeckis
Name: director, Length: 393, dtype: object